body, html {
    margin: 0;
    padding: 0;
}

div {
    background-color: whitesmoke;
    border: solid 2px darkslategray;
    position: fixed;
}

p {
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    color: darkslategray;
    font-size: 24px;
}

a {
    color: darkslategray;
    padding: 10px;
}

#container {
    background-color: #ADD8E6;
    height: 100vh;
    width: 100vw;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
