* {
    font-family: Ubuntu;
}

div {
    margin: auto;
    width: 100%;
    display: block;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5%;
}

.links {
    width: 8%;

}

#link {
    text-align: center;
    text-decoration: none;
    text-align: center;
    color: black;
    padding: 5px 20px;
    border: 2px solid #789;
    border-radius: 5px;
}

#link:hover, #link:active {
    color: #789;
    background: black;
}

.body {
    position: absolute;
    top: 13%;
    background-color: #5292f9;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    padding: 25px;
    width: 100%;
    padding-bottom: 20px;
}

img {
    border-radius: 100%;
}

.bubble {
    width: 550px;
    text-align: center;
    padding: 15px 0px;
}

h3 {
    border-bottom: 2px solid #789;
}

.footer {
    width: 100%;
    height: 1px;
    position: absolute;
    justify-content: flex-end;
    bottom: 0;
    left: 0;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    color: rgba(0,0,0,0.3);
}
