* {
  font-family: Ubuntu;
}

div {
  margin: auto;
  width: 100%;
  display: block;
  box-sizing: border-box;
}

#jumbotron {
  display: block;
  width: 100%;
  height: auto;
  background: center;
  position: fixed;
  top: 18%;
  left: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 9%;
}

.links {
  width: 20%;
  text-align: center;
}

a {
  text-decoration: none;
  text-align: center;
  color: black;
  padding: 5px 20px;
  border: 2px solid #789;
  border-radius: 5px;
}

a:hover, a:active {
  color: #789;
  background: black;
}

h4 {
  position: relative;
  top: 10px;
  border: 4px solid #789;
  border-radius: 10px;
  padding: 5px 20px;
  width: 160px;
  margin: auto;
  text-align: center;
  color: white;
  font-size: 4em;
  text-shadow: 3px -3px black;
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0%;
  font-family: Ubuntu, sans-serif;
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,0.3);
}
