{% extends 'base.html' %}

{% block title %} Contact - {% endblock %}

{% block content %}
  <script src="https://use.fontawesome.com/02ab783e83.js"></script>
  <div id="contactInfo">
    <h2 id="email">my first name .d.o.t. my last name @a@t@ gmail .d.o.t. com</h2>
    <div id="signature">
      <a href="https://github.com/LechX" target="_blank" id="githubIcon"><i class="fa fa-github fa-3x"></i></a>
      <a href="https://www.linkedin.com/in/lech-kaiel-13647249" target="_blank" id="linkedInIcon"><i class="fa fa-linkedin fa-3x"></i></a>
      <a href="https://angel.co/lech-kaiel" target="_blank" id="angelListIcon"><i class="fa fa-angellist fa-3x"></i></a>
    </div>
  </div>
{% endblock %}
